body {
    font-family: var(--font-primary);
    color: var(--color-text);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

#root {
    height: 100%;
    animation-name: fadeIn;
    animation-duration: 300ms;
}

#root > * {
    animation-name: fadeIn;
    animation-duration: 300ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }