button {
    box-shadow: #5E946D 0 5px 0;
    transition: var(--transition);

    &:hover {
        box-shadow: #5E946D 0 0 0;
        transform: translate(0, 5px);
    }
}

.titlePage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titlePage_main {
    flex-grow: 1;
}

.titlePage_title {
    font-size: var(--font-size-h1);
    font-weight: 500;
    line-height: 65px;
}

.titlePage_buttonMain {
    margin: 39px 0 25px;
}

.buttonMain {
    border-radius: 20px;
    background: rgb(139, 205, 158);
    width: 100%;
    position: relative;
    padding: 10px 25px;
}

.buttonMain_txt {
    position: absolute;
    top: 0;
    right: 17px;
    font-size: 22px;
    color: var(--color-text);
    font-weight: 500;
    line-height: 61px;
    letter-spacing: -0.3px;
}

.buttonMain_arrow {
    position: absolute;
    right: 17px;
    bottom: 20px;
    width: 60px;
}

.buttonMain_ico {
    float: left;
    width: 126px;
    height: 126px;
}

.titlePage_otherTxt {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.3px;
}

.titlePage_otherBtns {
    margin: 20px 0 0 0;

    display: flex;
    justify-content: space-between;
    gap: 11px;
}

.otherBtn {
    border-radius: 17.52px;
    background: rgb(241, 245, 241);
    flex: 1 0 108px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 10px;
}

.otherBtn_img {
    width: 45px;
    height: 45px;
}

.otherBtn_txt {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
}